/*Joshua Benjamín Pedraza Castro SMR 2B*/
.cabeza{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hola img{
    width: 30%;
}

.izquierda{
    background-color: yellow;
    color: red;
    float: left;
    height: 1000px;
    width: 200px;
    margin-right: 80px;
    
    margin-bottom: 50px;
    
}
.izquierda .menu-item{
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 80%;
    margin-right: 20px;
    
}
.columna{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    
    
    
}
.columnas{
    column-count: 2;
    column-gap: 0cm;
    
}

.columna p {
    padding: 20px;
}
img{
    width: 70%;
    border-radius: 50px 50px;
}

hr{
    width: 32%;
}

#none{
    border-radius: 0;
}

p{
    text-align: center;
    font-size: x-large;
    font-weight: bolder; 
    color: red;
    padding: 30px;
    text-align: center;
}
.columnas2{
    column-count: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.columna2{
    background-color: yellow;
    margin-right: 20px;
    
    
}
.gg{
    color: RED;
    margin-top: -30px;
}
.canva{
    width: 25%;
}
.canvas{
    text-align: center;
    margin-top: 20px;
}
footer{
    background-color: yellow;
    clear: both;
    
}
.blanco{
    font-size: large;
}




